<template name="history">
  <div class="header">
    <h1>Jobs history</h1>
  </div>
  <div class="content">
    <h2>
      <button class="button-error pure-button" data-action="clear">Clear history</button>
    </h2>
    <table class="pure-table list-of-jobs">
      <thead>
        <tr>
          <th>when</th>
          <th>url</th>
          <th>status</th>
        </tr>
      </thead>
      <tbody>
        {{#each jobs}}
          <tr>
            <td>{{timeStamp}}</td>
            <td>{{url}}</td>
            <td>{{status}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

</template>