<template name="listOfJobs">  
  <div class="header">
    <h1>Scheduled tasks</h1>
    <h2>use the form to add new jobs</h2>
  </div>
  <div class="content">
    <form class="pure-form add-job-form">
      <fieldset>
        <input type="text" name="time" placeholder="date or cron expr.">
        <input type="text" name="url" placeholder="url to trigger">
        <button type="submit" class="pure-button pure-button-primary">Add job</button>
      </fieldset>
    </form>
    <table class="pure-table list-of-jobs">
      <thead>
        <tr>
          <th>when</th>
          <th>url</th>
          <th>status</th>
          <th>action</th>
        </tr>
      </thead>
      <tbody>
        {{#each jobs}}
          <tr>
            <td>{{timeStamp}}</td>
            <td>{{url}}</td>
            <td>{{status}}</td>
            <td><button class=""><i class="fa fa-times"></i></button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
