<template name="layoutSideMenu">
<div id="layout" class="pure-skin-fresh">
  <!-- Menu toggle -->
  <a href="#menu" id="menuLink" class="menu-link">
      <!-- Hamburger icon -->
      <span></span>
  </a>
  <div id="menu">
    <div class="pure-menu pure-menu-open">
      <a class="pure-menu-heading" href="#"><i class="fa fa-calendar"></i> Tasks</a>
      <ul>
        {{#each routes}}
        <li class="{{onlyIfRouteEquals route 'pure-menu-selected'}}">
          <a href="{{pathFor route}}"><i class="{{icon}}"></i> {{name}}</a>
        </li>
        {{/each}}
        <li class="">
          {{#if currentUser}}
            <a href="#signOut"><i class="fa fa-sign-out"></i> Sign Out</a>
          {{else}}
            <a href="#signIn"><i class="fa fa-sign-in"></i> Sign In</a>
          {{/if}}
        </li>
      </ul>
    </div>
  </div>
  <div id="main">
    {{> yield}}
  </div> 
</div>
</template>