<template name="layoutSideMenu">
<div id="layout" class="pure-skin-fresh">
  <!-- Menu toggle -->
  <a href="#menu" id="menuLink" class="menu-link">
      <!-- Hamburger icon -->
      <span></span>
  </a>
  <div id="menu">
    <div class="pure-menu pure-menu-open">
      <a class="pure-menu-heading" href="#">@apendua</a>
      <ul>
        <li class="{{onlyIfRouteEquals 'home' 'pure-menu-selected'}}">
          <a href="/">Home</a>
        </li>
        <li class="{{onlyIfRouteEquals 'listOfJobs' 'pure-menu-selected'}}">
          <a href="/jobs">Jobs</a>
        </li>
        <li class="{{onlyIfRouteEquals 'history' 'pure-menu-selected'}}">
          <a href="/history">History</a>
        </li>
      </ul>
    </div>
  </div>
  <div id="main">
    {{> yield}}
  </div> 
</div>
</template>